.button {
    cursor: pointer;
    padding: 1em;
    font-size: var(--btn-font-size);
    border: none;
    border-radius: var(--radius);
    font-size: 1rem;
}

.primary {
    background-color: hsl(var(--primary));
    color: hsl(var(--primary-foreground));

    a {
        color: hsl(var(--primary-foreground));
    }
}

.secondary {
    background-color: hsl(var(--secondary));
    color: hsl(var(--secondary-foreground));

    a {
        color: hsl(var(--secondary-forground));
    }
}

.destructive {
    background-color: hsl(var(--destructive));
    color: hsl(var(--destructive-foreground));

    a {
        color: hsl(var(--destructive-foreground));
    }
}

.ghost {
    background: none;
    padding: 0;
    color: hsl(var(--foreground));
    svg, a {
        color: hsl(var(--foreground));
        cursor: pointer;
    }
    a {
        color: hsl(var(--foreground));
    }
}

.hover:hover {
    position: relative;
    z-index: 110;
    color: hsl(var(--foreground));
}

.hover:active {
    position: relative;
    background: none;
    color: hsl(var(--foreground));
    font-weight: bold;
    transition: all 0.15s ease;
}


.hover:hover::before {
    content: "";
    display: block;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    position: absolute;
    z-index: -1;
    top: -5px;
    left: -5px;
    background: linear-gradient(
        45deg,
        hsl(var(--primary)), hsl(var(--secondary)), hsl(var(--destructive)),
        hsl(var(--primary)), hsl(var(--secondary)), hsl(var(--destructive))
    );
    background-size: 600%;
    border-radius: var(--radius);
    filter: blur(5px);
    animation: glowing 20s infinite linear;

}

@media (min-width: 768px) and (max-width: 1024px) {
    .button {
        font-size: 1.5rem;
    }
}

@media (max-width: 768px) {
    .button {
        font-size: 1.5rem;
    }
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}